/*-----------------------------------*\

	Toast
	A Simple CSS Framework
	=================================

	Values you may want to change:
	- .container { max-width:; }
	- p { margin-bottom:; }
	- html { font:; }

	Remember: no framework will be as
	good as a custom built, per-
	project	one. Toast and other
	frameworks are best used for
	rapid prototyping.

\*-----------------------------------*/

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.container {
	/* Whatever you want. They’re your oats. */
	max-width: 940px; /* 960px w/padding */
	margin: 0 auto;
	padding: 0 10px;
}

.grid {
	margin-left: -2.12846349%; /* 20px = 940*2.12...% This is to offset the grid 10px left of the container's padding so the first column's left padding will net out to 10px */
	max-width: 105%; /* Hack to keep inline-blocks from wrapping at combined 100% width.  Grid has to be larger than actual sum of column widths */
}

.container .column, .container .columns {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 2.08408144%; /* 20px = 960*2.08...% */
	margin-right: -.25em; /* Combined with max-width hack to keep inline-blocks from wrapping at combined 100% width. */
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}
                                                                  /* @960px: */
.one.column                     { width: 4.1666847%;  }           /* 40px */
.two.columns                    { width: 10.41671176%; }          /* 100px */
.three.columns                  { width: 16.66673881%; }          /* 160px */
.four.columns                   { width: 22.91676587%; }          /* 220px */
.five.columns                   { width: 29.16679292%; }          /* 280px */
.six.columns                    { width: 35.41681998%; }          /* 340px */
.seven.columns                  { width: 41.66684703%; }          /* 400px */
.eight.columns                  { width: 47.91687408%; }          /* 460px */
.nine.columns                   { width: 54.16690114%; }          /* 520px */
.ten.columns                    { width: 60.41692819%; }          /* 580px */
.eleven.columns                 { width: 66.66695525%; }          /* 640px */
.twelve.columns                 { width: 72.9169823%; }           /* 700px */
.thirteen.columns               { width: 79.16700936%; }          /* 760px */
.fourteen.columns               { width: 85.41703641%; }          /* 820px */
.fifteen.columns                { width: 91.66706347%; }          /* 880px */
.sixteen.columns                { width: 97.91709052%; }          /* 940px */

.one-third.column               { width: 31.25013527%; }          /* 300px */
.two-thirds.column              { width: 64.5836129%; }           /* 620px */

.offset-by-one                  { padding-left: 6.25002705%;  }   /* 60px */
.offset-by-two                  { padding-left: 12.50005411%; }   /* 120px */
.offset-by-three                { padding-left: 18.75008116%; }   /* 180px */
.offset-by-four                 { padding-left: 25.00010822%; }   /* 240px */
.offset-by-five                 { padding-left: 31.25013527%; }   /* 300px */
.offset-by-six                  { padding-left: 37.50016233%; }   /* 360px */
.offset-by-seven                { padding-left: 43.75018938%; }   /* 420px */
.offset-by-eight                { padding-left: 50.000021644%; }  /* 480px */
.offset-by-nine                 { padding-left: 56.25024349%; }   /* 540px */
.offset-by-ten                  { padding-left: 62.50027054%; }   /* 600px */
.offset-by-eleven               { padding-left: 68.7502976%; }    /* 660px */
.offset-by-twelve               { padding-left: 75.00032465%; }   /* 720px */
.offset-by-thirteen             { padding-left: 81.25035171%; }   /* 780px */
.offset-by-fourteen             { padding-left: 87.50037876%; }   /* 840px */
.offset-by-fifteen              { padding-left: 93.75040582%; }   /* 900px */

.container .columns .columns.leader, .container .columns .column.leader { margin-left: 0; }

                                                                                        /* @100px: */
.two.columns .column, .two.columns .columns            { margin-left: 20%; }            /* 20px */
.two.columns .one.column                               { width: 40%; }                  /* 40px */
.two.columns .two.columns                              { width: 100%; }                 /* 100px */
.two.columns .offset-by-one                            { padding-left: 60%; }           /* 60px */

                                                                                        /* @160px: */
.three.columns .column, .three.columns .columns        { margin-left: 12.5%; }          /* 20px */
.three.columns .one.column                             { width: 25%; }                  /* 40px */
.three.columns .two.columns                            { width: 62.5%; }                /* 100px */
.three.columns .three.columns                          { width: 100%; }                 /* 160px */
.three.columns .offset-by-one                          { padding-left: 37.5%; }         /* 60px */
.three.columns .offset-by-two                          { padding-left: 75%; }           /* 120px */

                                                                                        /* @220px: */
.four.columns .column, .four.columns .columns          { margin-left: 9.09090909%; }    /* 20px */
.four.columns .one.column                              { width: 18.18181818%; }         /* 40px */
.four.columns .two.columns                             { width: 45.45454545%; }         /* 100px */
.four.columns .three.columns                           { width: 72.72727273%; }         /* 160px */
.four.columns .four.columns                            { width: 100%; }                 /* 220px */
.four.columns .offset-by-one                           { padding-left: 27.27272727%; }  /* 60px */
.four.columns .offset-by-two                           { padding-left: 54.54545455%; }  /* 120px */
.four.columns .offset-by-three                         { padding-left: 81.81818182%; }  /* 180px */

                                                                                        /* @280px: */
.five.columns .column, .five.columns .columns          { margin-left: 7.14285714%; }    /* 20px */
.five.columns .one.column                              { width: 14.28571429%; }         /* 40px */
.five.columns .two.columns                             { width: 35.71428571%; }         /* 100px */
.five.columns .three.columns                           { width: 57.14285714%; }         /* 160px */
.five.columns .four.columns                            { width: 78.57142857%; }         /* 220px */
.five.columns .five.columns                            { width: 100%; }                 /* 280px */
.five.columns .offset-by-one                           { padding-left: 21.42857143%; }  /* 60px */
.five.columns .offset-by-two                           { padding-left: 42.85714286%; }  /* 120px */
.five.columns .offset-by-three                         { padding-left: 64.28571429%; }  /* 180px */
.five.columns .offset-by-four                          { padding-left: 85.71428571%; }  /* 240px */

                                                                                        /* @340px: */
.six.columns .column, .six.columns .columns            { margin-left: 5.88235294%; }    /* 20px */
.six.columns .one.column                               { width: 11.76470588%; }         /* 40px */
.six.columns .two.columns                              { width: 29.41176471%; }         /* 100px */
.six.columns .three.columns                            { width: 47.05882353%; }         /* 160px */
.six.columns .four.columns                             { width: 64.70588235%; }         /* 220px */
.six.columns .five.columns                             { width: 82.35294118%; }         /* 280px */
.six.columns .six.columns                              { width: 100%; }                 /* 340px */
.six.columns .offset-by-one                            { padding-left: 17.64705882%; }  /* 60px */
.six.columns .offset-by-two                            { padding-left: 35.29411765%; }  /* 120px */
.six.columns .offset-by-three                          { padding-left: 52.94117647%; }  /* 180px */
.six.columns .offset-by-four                           { padding-left: 70.58823529%; }  /* 240px */
.six.columns .offset-by-five                           { padding-left: 88.23529412%; }  /* 300px */

                                                                                        /* @400px: */
.seven.columns .column, .seven.columns .columns        { margin-left: 5%; }             /* 20px */
.seven.columns .one.column                             { width: 10%; }                  /* 40px */
.seven.columns .two.columns                            { width: 25%; }                  /* 100px */
.seven.columns .three.columns                          { width: 40%; }                  /* 160px */
.seven.columns .four.columns                           { width: 55%; }                  /* 220px */
.seven.columns .five.columns                           { width: 70%; }                  /* 280px */
.seven.columns .six.columns                            { width: 85%; }                  /* 340px */
.seven.columns .seven.columns                          { width: 100%; }                 /* 400px */
.seven.columns .offset-by-one                          { padding-left: 15%; }           /* 60px */
.seven.columns .offset-by-two                          { padding-left: 30%; }           /* 120px */
.seven.columns .offset-by-three                        { padding-left: 45%; }           /* 180px */
.seven.columns .offset-by-four                         { padding-left: 60%; }           /* 240px */
.seven.columns .offset-by-five                         { padding-left: 75%; }           /* 300px */
.seven.columns .offset-by-six                          { padding-left: 90%; }           /* 360px */

                                                                                        /* @460px: */
.eight.columns .column, .eight.columns .columns        { margin-left: 4.34782609%; }    /* 20px */
.eight.columns .one.column                             { width: 8.69565217%; }          /* 40px */
.eight.columns .two.columns                            { width: 21.73913043%; }         /* 100px */
.eight.columns .three.columns                          { width: 34.7826087%; }          /* 160px */
.eight.columns .four.columns                           { width: 47.82608696%; }         /* 220px */
.eight.columns .five.columns                           { width: 60.86956522%; }         /* 280px */
.eight.columns .six.columns                            { width: 73.91304348%; }         /* 340px */
.eight.columns .seven.columns                          { width: 86.95652174%; }         /* 400px */
.eight.columns .eight.columns                          { width: 100%; }                 /* 460px */
.eight.columns .offset-by-one                          { padding-left: 13.04347826%; }  /* 60px */
.eight.columns .offset-by-two                          { padding-left: 26.08695652%; }  /* 120px */
.eight.columns .offset-by-three                        { padding-left: 39.13043478%; }  /* 180px */
.eight.columns .offset-by-four                         { padding-left: 52.17391304%; }  /* 240px */
.eight.columns .offset-by-five                         { padding-left: 65.2173913%; }   /* 300px */
.eight.columns .offset-by-six                          { padding-left: 78.26086957%; }  /* 360px */
.eight.columns .offset-by-seven                        { padding-left: 91.30434783%; }  /* 420px */

                                                                                        /* @520px: */
.nine.columns .column, .nine.columns .columns          { margin-left: 3.84615385%; }    /* 20px */
.nine.columns .one.column                              { width: 7.69230769%; }          /* 40px */
.nine.columns .two.columns                             { width: 19.23076923%; }         /* 100px */
.nine.columns .three.columns                           { width: 30.76923077%; }         /* 160px */
.nine.columns .four.columns                            { width: 42.30769231%; }         /* 220px */
.nine.columns .five.columns                            { width: 53.84615385%; }         /* 280px */
.nine.columns .six.columns                             { width: 65.38461538%; }         /* 340px */
.nine.columns .seven.columns                           { width: 76.92307692%; }         /* 400px */
.nine.columns .eight.columns                           { width: 88.46153846%; }         /* 460px */
.nine.columns .nine.columns                            { width: 100%; }                 /* 520px */
.nine.columns .offset-by-one                           { padding-left: 11.53846154%; }  /* 60px */
.nine.columns .offset-by-two                           { padding-left: 23.07692308%; }  /* 120px */
.nine.columns .offset-by-three                         { padding-left: 34.61538462%; }  /* 180px */
.nine.columns .offset-by-four                          { padding-left: 46.15384615%; }  /* 240px */
.nine.columns .offset-by-five                          { padding-left: 57.69230769%; }  /* 300px */
.nine.columns .offset-by-six                           { padding-left: 69.23076923%; }  /* 360px */
.nine.columns .offset-by-seven                         { padding-left: 80.76923077%; }  /* 420px */
.nine.columns .offset-by-eight                         { padding-left: 92.30769231%; }  /* 480px */

                                                                                        /* @580px: */
.ten.columns .column, .ten.columns .columns            { margin-left: 3.44827586%; }    /* 20px */
.ten.columns .one.column                               { width: 6.89655172%; }          /* 40px */
.ten.columns .two.columns                              { width: 17.24137931%; }         /* 100px */
.ten.columns .three.columns                            { width: 27.5862069%; }          /* 160px */
.ten.columns .four.columns                             { width: 37.93103448%; }         /* 220px */
.ten.columns .five.columns                             { width: 48.27586207%; }         /* 280px */
.ten.columns .six.columns                              { width: 58.62068966%; }         /* 340px */
.ten.columns .seven.columns                            { width: 68.96551724%; }         /* 400px */
.ten.columns .eight.columns                            { width: 79.31034483%; }         /* 460px */
.ten.columns .nine.columns                             { width: 89.65517241%; }         /* 520px */
.ten.columns .ten.columns                              { width: 100%; }                 /* 580px */
.ten.columns .offset-by-one                            { padding-left: 10.34482759%; }  /* 60px */
.ten.columns .offset-by-two                            { padding-left: 20.68965517%; }  /* 120px */
.ten.columns .offset-by-three                          { padding-left: 31.03448276%; }  /* 180px */
.ten.columns .offset-by-four                           { padding-left: 41.37931034%; }  /* 240px */
.ten.columns .offset-by-five                           { padding-left: 51.72413793%; }  /* 300px */
.ten.columns .offset-by-six                            { padding-left: 62.06896552%; }  /* 360px */
.ten.columns .offset-by-seven                          { padding-left: 72.4137931%; }   /* 420px */
.ten.columns .offset-by-eight                          { padding-left: 82.75862069%; }  /* 480px */
.ten.columns .offset-by-nine                           { padding-left: 93.10344828%; }  /* 540px */

                                                                                        /* @640px: */
.eleven.columns .column, .eleven.columns .columns      { margin-left: 3.125%; }         /* 20px */
.eleven.columns .one.column                            { width: 6.25%; }                /* 40px */
.eleven.columns .two.columns                           { width: 15.625%; }              /* 100px */
.eleven.columns .three.columns                         { width: 25%; }                  /* 160px */
.eleven.columns .four.columns                          { width: 34.375%; }              /* 220px */
.eleven.columns .five.columns                          { width: 43.75%; }               /* 280px */
.eleven.columns .six.columns                           { width: 53.125%; }              /* 340px */
.eleven.columns .seven.columns                         { width: 62.5%; }                /* 400px */
.eleven.columns .eight.columns                         { width: 71.875%; }              /* 460px */
.eleven.columns .nine.columns                          { width: 81.25%; }               /* 520px */
.eleven.columns .ten.columns                           { width: 90.625%; }              /* 580px */
.eleven.columns .eleven.columns                        { width: 100%; }                 /* 640px */
.eleven.columns .offset-by-one                         { padding-left: 9.375%; }        /* 60px */
.eleven.columns .offset-by-two                         { padding-left: 18.75%; }        /* 120px */
.eleven.columns .offset-by-three                       { padding-left: 28.125%; }       /* 180px */
.eleven.columns .offset-by-four                        { padding-left: 37.5%; }         /* 240px */
.eleven.columns .offset-by-five                        { padding-left: 46.875%; }       /* 300px */
.eleven.columns .offset-by-six                         { padding-left: 56.25%; }        /* 360px */
.eleven.columns .offset-by-seven                       { padding-left: 65.625%; }       /* 420px */
.eleven.columns .offset-by-eight                       { padding-left: 75%; }           /* 480px */
.eleven.columns .offset-by-nine                        { padding-left: 84.375%; }       /* 540px */
.eleven.columns .offset-by-ten                         { padding-left: 93.75%; }        /* 600px */

                                                                                        /* @700px: */
.twelve.columns .column, .twelve.columns .columns      { margin-left: 2.85714286%; }    /* 20px */
.twelve.columns .one.column                            { width: 5.71428571%; }          /* 40px */
.twelve.columns .two.columns                           { width: 14.28571429%; }         /* 100px */
.twelve.columns .three.columns                         { width: 22.85714286%; }         /* 160px */
.twelve.columns .four.columns                          { width: 31.42857143%; }         /* 220px */
.twelve.columns .five.columns                          { width: 40%; }                  /* 280px */
.twelve.columns .six.columns                           { width: 48.57142857%; }         /* 340px */
.twelve.columns .seven.columns                         { width: 57.14285714%; }         /* 400px */
.twelve.columns .eight.columns                         { width: 65.71428571%; }         /* 460px */
.twelve.columns .nine.columns                          { width: 74.28571429%; }         /* 520px */
.twelve.columns .ten.columns                           { width: 82.85714286%; }         /* 580px */
.twelve.columns .eleven.columns                        { width: 91.42857143%; }         /* 640px */
.twelve.columns .twelve.columns                        { width: 100%; }                 /* 700px */
.twelve.columns .offset-by-one                         { padding-left: 8.57142857%; }   /* 60px */
.twelve.columns .offset-by-two                         { padding-left: 17.14285714%; }  /* 120px */
.twelve.columns .offset-by-three                       { padding-left: 25.71428571%; }  /* 180px */
.twelve.columns .offset-by-four                        { padding-left: 34.28571429%; }  /* 240px */
.twelve.columns .offset-by-five                        { padding-left: 42.85714286%; }  /* 300px */
.twelve.columns .offset-by-six                         { padding-left: 51.42857143%; }  /* 360px */
.twelve.columns .offset-by-seven                       { padding-left: 60%; }           /* 420px */
.twelve.columns .offset-by-eight                       { padding-left: 68.57142857%; }  /* 480px */
.twelve.columns .offset-by-nine                        { padding-left: 77.14285714%; }  /* 540px */
.twelve.columns .offset-by-ten                         { padding-left: 85.71428571%; }  /* 600px */
.twelve.columns .offset-by-eleven                      { padding-left: 94.28571429%; }  /* 660px */

                                                                                        /* @760px: */
.thirteen.columns .column, .thirteen.columns .columns  { margin-left: 2.63157895%; }    /* 20px */
.thirteen.columns .one.column                          { width: 5.26315789%; }          /* 40px */
.thirteen.columns .two.columns                         { width: 13.15789474%; }         /* 100px */
.thirteen.columns .three.columns                       { width: 21.05263158%; }         /* 160px */
.thirteen.columns .four.columns                        { width: 28.94736842%; }         /* 220px */
.thirteen.columns .five.columns                        { width: 36.84210526%; }         /* 280px */
.thirteen.columns .six.columns                         { width: 44.73684211%; }         /* 340px */
.thirteen.columns .seven.columns                       { width: 52.63157895%; }         /* 400px */
.thirteen.columns .eight.columns                       { width: 60.52631579%; }         /* 460px */
.thirteen.columns .nine.columns                        { width: 68.42105263%; }         /* 520px */
.thirteen.columns .ten.columns                         { width: 76.31578947%; }         /* 580px */
.thirteen.columns .eleven.columns                      { width: 84.21052632%; }         /* 640px */
.thirteen.columns .twelve.columns                      { width: 92.10526316%; }         /* 700px */
.thirteen.columns .thirteen.columns                    { width: 100%; }                 /* 760px */
.thirteen.columns .offset-by-one                       { padding-left: 7.89473684%; }   /* 60px */
.thirteen.columns .offset-by-two                       { padding-left: 15.78947368%; }  /* 120px */
.thirteen.columns .offset-by-three                     { padding-left: 23.68421053%; }  /* 180px */
.thirteen.columns .offset-by-four                      { padding-left: 31.57894737%; }  /* 240px */
.thirteen.columns .offset-by-five                      { padding-left: 39.47368421%; }  /* 300px */
.thirteen.columns .offset-by-six                       { padding-left: 47.36842105%; }  /* 360px */
.thirteen.columns .offset-by-seven                     { padding-left: 55.26315789%; }  /* 420px */
.thirteen.columns .offset-by-eight                     { padding-left: 63.15789474%; }  /* 480px */
.thirteen.columns .offset-by-nine                      { padding-left: 71.05263158%; }  /* 540px */
.thirteen.columns .offset-by-ten                       { padding-left: 78.94736842%; }  /* 600px */
.thirteen.columns .offset-by-eleven                    { padding-left: 86.84210526%; }  /* 660px */
.thirteen.columns .offset-by-twelve                    { padding-left: 94.73684211%; }  /* 720px */

                                                                                        /* @820px: */
.fourteen.columns .column, .fourteen.columns .columns  { margin-left: 2.43902439%; }    /* 20px */
.fourteen.columns .one.column                          { width: 4.87804878%; }          /* 40px */
.fourteen.columns .two.columns                         { width: 12.19512195%; }         /* 100px */
.fourteen.columns .three.columns                       { width: 19.51219512%; }         /* 160px */
.fourteen.columns .four.columns                        { width: 26.82926829%; }         /* 220px */
.fourteen.columns .five.columns                        { width: 34.14634146%; }         /* 280px */
.fourteen.columns .six.columns                         { width: 41.46341463%; }         /* 340px */
.fourteen.columns .seven.columns                       { width: 48.7804878%; }          /* 400px */
.fourteen.columns .eight.columns                       { width: 56.09756098%; }         /* 460px */
.fourteen.columns .nine.columns                        { width: 63.41463415%; }         /* 520px */
.fourteen.columns .ten.columns                         { width: 70.73170732%; }         /* 580px */
.fourteen.columns .eleven.columns                      { width: 78.04878049%; }         /* 640px */
.fourteen.columns .twelve.columns                      { width: 85.36585366%; }         /* 700px */
.fourteen.columns .thirteen.columns                    { width: 92.68292683%; }         /* 760px */
.fourteen.columns .fourteen.columns                    { width: 100%; }                 /* 820px */
.fourteen.columns .offset-by-one                       { padding-left: 7.31707317%; }   /* 60px */
.fourteen.columns .offset-by-two                       { padding-left: 14.63414634%; }  /* 120px */
.fourteen.columns .offset-by-three                     { padding-left: 21.95121951%; }  /* 180px */
.fourteen.columns .offset-by-four                      { padding-left: 29.26829268%; }  /* 240px */
.fourteen.columns .offset-by-five                      { padding-left: 36.58536585%; }  /* 300px */
.fourteen.columns .offset-by-six                       { padding-left: 43.90243902%; }  /* 360px */
.fourteen.columns .offset-by-seven                     { padding-left: 51.2195122%; }   /* 420px */
.fourteen.columns .offset-by-eight                     { padding-left: 58.53658537%; }  /* 480px */
.fourteen.columns .offset-by-nine                      { padding-left: 65.85365854%; }  /* 540px */
.fourteen.columns .offset-by-ten                       { padding-left: 73.17073171%; }  /* 600px */
.fourteen.columns .offset-by-eleven                    { padding-left: 80.48780488%; }  /* 660px */
.fourteen.columns .offset-by-twelve                    { padding-left: 87.80487805%; }  /* 720px */
.fourteen.columns .offset-by-thirteen                  { padding-left: 95.12195122%; }  /* 780px */

                                                                                        /* @880px: */
.fifteen.columns .column, .fifteen.columns .columns    { margin-left: 2.27272727%; }    /* 20px */
.fifteen.columns .one.column                           { width: 4.54545455%; }          /* 40px */
.fifteen.columns .two.columns                          { width: 11.36363636%; }         /* 100px */
.fifteen.columns .three.columns                        { width: 18.18181818%; }         /* 160px */
.fifteen.columns .four.columns                         { width: 25%; }                  /* 220px */
.fifteen.columns .five.columns                         { width: 31.81818182%; }         /* 280px */
.fifteen.columns .six.columns                          { width: 38.63636364%; }         /* 340px */
.fifteen.columns .seven.columns                        { width: 45.45454545%; }         /* 400px */
.fifteen.columns .eight.columns                        { width: 52.27272727%; }         /* 460px */
.fifteen.columns .nine.columns                         { width: 59.09090909%; }         /* 520px */
.fifteen.columns .ten.columns                          { width: 65.90909091%; }         /* 580px */
.fifteen.columns .eleven.columns                       { width: 72.72727273%; }         /* 640px */
.fifteen.columns .twelve.columns                       { width: 79.54545455%; }         /* 700px */
.fifteen.columns .thirteen.columns                     { width: 86.36363636%; }         /* 760px */
.fifteen.columns .fourteen.columns                     { width: 93.18181818%; }         /* 820px */
.fifteen.columns .fifteen.columns                      { width: 100%; }                 /* 88px */
.fifteen.columns .offset-by-one                        { padding-left: 6.81818182%; }   /* 60px */
.fifteen.columns .offset-by-two                        { padding-left: 13.63636364%; }  /* 120px */
.fifteen.columns .offset-by-three                      { padding-left: 20.45454545%; }  /* 180px */
.fifteen.columns .offset-by-four                       { padding-left: 27.27272727%; }  /* 240px */
.fifteen.columns .offset-by-five                       { padding-left: 34.09090909%; }  /* 300px */
.fifteen.columns .offset-by-six                        { padding-left: 40.90909091%; }  /* 360px */
.fifteen.columns .offset-by-seven                      { padding-left: 47.72727273%; }  /* 420px */
.fifteen.columns .offset-by-eight                      { padding-left: 54.54545455%; }  /* 480px */
.fifteen.columns .offset-by-nine                       { padding-left: 61.36363636%; }  /* 540px */
.fifteen.columns .offset-by-ten                        { padding-left: 68.18181818%; }  /* 600px */
.fifteen.columns .offset-by-eleven                     { padding-left: 75%; }           /* 660px */
.fifteen.columns .offset-by-twelve                     { padding-left: 81.81818182%; }  /* 720px */
.fifteen.columns .offset-by-thirteen                   { padding-left: 88.63636364%; }  /* 780px */
.fifteen.columns .offset-by-fourteen                   { padding-left: 95.45454545%; }  /* 840px */

                                                                                        /* @940px: */
.sixteen.columns .column, .sixteen.columns .columns    { margin-left: 2.12765957%; }    /* 20px */
.sixteen.columns .one.column                           { width: 4.25531915%; }          /* 40px */
.sixteen.columns .two.columns                          { width: 10.63829787%; }         /* 100px */
.sixteen.columns .three.columns                        { width: 17.0212766%; }          /* 160px */
.sixteen.columns .four.columns                         { width: 23.40425532%; }         /* 220px */
.sixteen.columns .five.columns                         { width: 29.78723404%; }         /* 280px */
.sixteen.columns .six.columns                          { width: 36.17021277%; }         /* 340px */
.sixteen.columns .seven.columns                        { width: 42.55319149%; }         /* 400px */
.sixteen.columns .eight.columns                        { width: 48.93617021%; }         /* 460px */
.sixteen.columns .nine.columns                         { width: 55.31914894%; }         /* 520px */
.sixteen.columns .ten.columns                          { width: 61.70212766%; }         /* 580px */
.sixteen.columns .eleven.columns                       { width: 68.08510638%; }         /* 640px */
.sixteen.columns .twelve.columns                       { width: 74.46808511%; }         /* 700px */
.sixteen.columns .thirteen.columns                     { width: 80.85106383%; }         /* 760px */
.sixteen.columns .fourteen.columns                     { width: 87.23404255%; }         /* 820px */
.sixteen.columns .fifteen.columns                      { width: 93.61702128%; }         /* 880px */
.sixteen.columns .sixteen.columns                      { width: 100%; }                 /* 940px */
.sixteen.columns .offset-by-one                        { padding-left: 6.38297872%; }   /* 60px */
.sixteen.columns .offset-by-two                        { padding-left: 12.76595745%; }  /* 120px */
.sixteen.columns .offset-by-three                      { padding-left: 19.14893617%; }  /* 180px */
.sixteen.columns .offset-by-four                       { padding-left: 25.53191489%; }  /* 240px */
.sixteen.columns .offset-by-five                       { padding-left: 31.91489362%; }  /* 300px */
.sixteen.columns .offset-by-six                        { padding-left: 38.29787234%; }  /* 360px */
.sixteen.columns .offset-by-seven                      { padding-left: 44.68085106%; }  /* 420px */
.sixteen.columns .offset-by-eight                      { padding-left: 51.06382979%; }  /* 480px */
.sixteen.columns .offset-by-nine                       { padding-left: 57.44680851%; }  /* 540px */
.sixteen.columns .offset-by-ten                        { padding-left: 63.82978723%; }  /* 600px */
.sixteen.columns .offset-by-eleven                     { padding-left: 70.21276596%; }  /* 660px */
.sixteen.columns .offset-by-twelve                     { padding-left: 76.59574468%; }  /* 720px */
.sixteen.columns .offset-by-thirteen                   { padding-left: 82.9787234%; }   /* 780px */
.sixteen.columns .offset-by-fourteen                   { padding-left: 89.36170213%; }  /* 840px */
.sixteen.columns .offset-by-fifteen                    { padding-left: 95.74468085%; }  /* 900px */

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.container .column, .container .columns,
  .container .grid .columns .column, .container .grid .columns .columns {
		width: auto;
		margin-left: 0;
    padding-left: 0;
		display: block;
	}
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	font-size: 87.5%;
  line-height: 1.5;
}

@media screen and (max-width: 650px) {
	html {
		font-size: 75%;
	}
}
