/*-----------------------------------*\

	Toast
	A Simple CSS Framework
	=================================

	Values you may want to change:
	- .container { max-width:; }
	- p { margin-bottom:; }
	- html { font:; }

	Remember: no framework will be as
	good as a custom built, per-
	project	one. Toast and other
	frameworks are best used for
	rapid prototyping.

\*-----------------------------------*/

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.container {
	/* Whatever you want. They’re your oats. */
	max-width: 940px; /* 960px w/padding */
	margin: 0 auto;
	padding: 0 10px;
}

.grid {
	margin-left: -2.12846349%; /* 20px = 940*2.12...% This is to offset the grid 10px left of the container's padding so the first column's left padding will net out to 10px */
	max-width: 105%; /* Hack to keep inline-blocks from wrapping at combined 100% width.  Grid has to be larger than actual sum of column widths */
}

.container .column, .container .columns {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 2.08408144%; /* 20px = 960*2.08...% */
	margin-right: -.25em; /* Combined with max-width hack to keep inline-blocks from wrapping at combined 100% width. */
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}
                                                                  /* @960px: */
.one.column, .one.columns       { width: 4.1666847%;  }           /* 40px */
.two.columns                    { width: 10.41671176%; }          /* 100px */
.three.columns                  { width: 16.66673881%; }          /* 160px */
.four.columns                   { width: 22.91676587%; }          /* 220px */
.five.columns                   { width: 29.16679292%; }          /* 280px */
.six.columns                    { width: 35.41681998%; }          /* 340px */
.seven.columns                  { width: 41.66684703%; }          /* 400px */
.eight.columns                  { width: 47.91687408%; }          /* 460px */
.nine.columns                   { width: 54.16690114%; }          /* 520px */
.ten.columns                    { width: 60.41692819%; }          /* 580px */
.eleven.columns                 { width: 66.66695525%; }          /* 640px */
.twelve.columns                 { width: 72.9169823%; }           /* 700px */
.thirteen.columns               { width: 79.16700936%; }          /* 760px */
.fourteen.columns               { width: 85.41703641%; }          /* 820px */
.fifteen.columns                { width: 91.66706347%; }          /* 880px */
.sixteen.columns                { width: 97.91709052%; }          /* 940px */

.one-third.column               { width: 31.25013527%; }          /* 300px */
.two-thirds.column              { width: 64.5836129%; }           /* 620px */

.offset-by-one                  { padding-left: 6.25002705%;  }   /* 60px */
.offset-by-two                  { padding-left: 12.50005411%; }   /* 120px */
.offset-by-three                { padding-left: 18.75008116%; }   /* 180px */
.offset-by-four                 { padding-left: 25.00010822%; }   /* 240px */
.offset-by-five                 { padding-left: 31.25013527%; }   /* 300px */
.offset-by-six                  { padding-left: 37.50016233%; }   /* 360px */
.offset-by-seven                { padding-left: 43.75018938%; }   /* 420px */
.offset-by-eight                { padding-left: 50.000021644%; }  /* 480px */
.offset-by-nine                 { padding-left: 56.25024349%; }   /* 540px */
.offset-by-ten                  { padding-left: 62.50027054%; }   /* 600px */
.offset-by-eleven               { padding-left: 68.7502976%; }    /* 660px */
.offset-by-twelve               { padding-left: 75.00032465%; }   /* 720px */
.offset-by-thirteen             { padding-left: 81.25035171%; }   /* 780px */
.offset-by-fourteen             { padding-left: 87.50037876%; }   /* 840px */
.offset-by-fifteen              { padding-left: 93.75040582%; }   /* 900px */

@media screen and (max-width: 767px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.container .column, .container .columns,
  .container .grid .columns .column, .container .grid .columns .columns {
		width: auto;
		margin-left: 0;
    padding-left: 0;
		display: block;
	}
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	font-size: 87.5%;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
	html {
		font-size: 75%;
	}
}
